/* Centralização do conteúdo da aplicação */
.App {
  text-align: center;
}

/* Estilo da navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 35px;
  background-color: #a00000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.navbar.visible {
  transform: translateY(0);
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-logo {
  height: 40px;
}

.navbar-search-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  right: 30px;
}

.navbar-search-button i {
  font-size: 24px;
}

/* Adicionar margem ao conteúdo para evitar sobreposição com a navbar */
.App-header {
  margin-top: 10px; /* Ajuste conforme necessário */
}

/* Estilo do banner de fundo */
.banner {
  width: 100vw;
  height: 100vh;
  background: url('./assets/banner2.png');
  background-size: cover;
  background-position: center;
  position: relative;
  animation: moveBanner 2s ease-in-out 1;
}

@media (max-width: 1200px) {
  .banner {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 40vh;
    background-position: top;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 30vh;
    background-size: contain;
    background-position: center;
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 50%);
}

/* Estilo do logotipo */
.App-logo {
  height: 80px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 20px;
  width: auto;
}

/* Estilo do cabeçalho da aplicação */
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* Estilo do container do campo de pesquisa */
.search-container {
  position: relative;
  width: 100%;
  max-width: 500px; 
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Estilo do campo de input */
input#search-input {
  width: 100%;
  padding: 15px 5px; 
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 50px;
  outline: none;
  text-align: left; 
  transition: box-shadow 0.3s ease;
}

/* Estilo ao focar no campo de input */
input#search-input:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
}

/* Seta estilizada dentro do campo de pesquisa */
button#search-action {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

/* Estilo da seta */
.arrow-container {
  display: block;
  width: 18px; 
  height: 15px; 
}

.arrow {
  position: absolute;
  left: 50%;
  transition: all .4s ease;
  &:before,
  &:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: black; 
    width: 2.5px; 
    height: 16px; 
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  &:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  &:nth-child(1) {
    opacity: 0.3;
    top: 0%;
  }
  &:nth-child(2) {
    opacity: 0.6;
    top: 50%;
  }
  &:nth-child(3) {
    opacity: 1;
    top: 100%;
  }
}

/* Transição ao passar o mouse */
.arrow-container:hover .arrow {
  top: 50%;
}

/* Animação do banner */
@keyframes moveBanner {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1); 
  }
}

/* Estilo do container de favoritos */
.favorites-container {
  align-items: center;
  padding: 20px;
  margin-left: 16%;
  margin-right: 16%;
  margin-top: 50px;
}

.favorites-cards {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5cm; 
}
