body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}

.driver-card {
    border: 5px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 80vh;
    text-align: center;
    box-shadow: 10px 10px 10px 20px rgb(248, 0, 0);
    transition: transform 0.2s ease-in-out;
}

.driver-card:hover {
    transform: translateY(-5px);
}

.driver-card__image {
    width: 80%;
    height: 80vh;
    object-fit: cover;
}

.driver-card__info {
    padding: 10px;
}

.driver-card__name {
    margin: 0.5em 0;
}

.driver-card__sport,
.driver-card__country {
    margin: 0;
    color: #555;
}

.driver-card__favorite-button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.driver-card__favorite-button.favorite {
    background-color: #ff5733;
}
